@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #4f4e81;
  --gradient-top-color: #1F1E24;
  --gradient-bottom-color: #070611;
}

html {
  font-size: 15px;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 11px;
  }
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-top-color)), to(var(--gradient-bottom-color)));
  background: linear-gradient(180deg, var(--gradient-top-color) 0%, var(--gradient-bottom-color) 100%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

main * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

main.no_perspective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-perspective: unset;
          perspective: unset;
}

main.no_perspective * {
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-perspective: unset;
          perspective: unset;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.clock .digit {
  width: 9rem;
  height: 18rem;
  position: relative;
}

.clock .digit:not(:last-child) {
  margin-right: 1.25rem;
}

.clock .digit:nth-child(2n) {
  margin-right: 6rem;
}

.clock .digit:last-child {
  margin-right: 0;
}

.clock .digit .line {
  position: absolute;
}

.clock .digit .line:before, .clock .digit .line:after {
  content: '';
  display: block;
  position: absolute;
  color: var(--main-color);
  background: var(--main-color);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
  transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
  border-radius: 1ch;
  -webkit-box-shadow: 0 0 1rem var(--main-color);
          box-shadow: 0 0 1rem var(--main-color);
}

.clock .digit .line::after {
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.1, 1);
}

.clock .digit .line:nth-child(2n - 1) {
  height: 50%;
  width: 10px;
}

.clock .digit .line:nth-child(2n - 1):before, .clock .digit .line:nth-child(2n - 1):after {
  height: calc(50% - 0.25vmin);
  width: 100%;
}

.clock .digit .line:nth-child(2n - 1):before {
  top: 0.25vmin;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.clock .digit .line:nth-child(2n - 1):after {
  bottom: 0.25vmin;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.clock .digit .line:nth-child(2n) {
  width: 100%;
  height: 10px;
}

.clock .digit .line:nth-child(2n):before, .clock .digit .line:nth-child(2n):after {
  height: 100%;
  width: calc(50% - 0.25vmin);
}

.clock .digit .line:nth-child(2n):before {
  left: 0.25vmin;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.clock .digit .line:nth-child(2n):after {
  right: 0.25vmin;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.clock .digit .line:nth-child(1) {
  top: 0;
  left: 0;
}

.clock .digit .line:nth-child(2) {
  top: 0;
  left: 0;
}

.clock .digit .line:nth-child(3) {
  top: 0;
  right: 0;
}

.clock .digit .line:nth-child(4) {
  top: 50%;
  left: 0;
}

.clock .digit .line:nth-child(5) {
  top: 50%;
  left: 0;
}

.clock .digit .line:nth-child(6) {
  bottom: 0;
  left: 0;
}

.clock .digit .line:nth-child(7) {
  top: 50%;
  right: 0;
}

.date {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.25rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: var(--main-color);
  text-transform: uppercase;
  margin-top: 2rem;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.logo {
  margin-top: 2.25rem;
  width: 9.75rem;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.filter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-perspective: unset;
          perspective: unset;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.filter img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-hours^="0"] .digit:nth-child(1) :nth-child(4):before, [data-hours^="0"] .digit:nth-child(1) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="0"] .digit:nth-child(2) :nth-child(4):before, [data-hours$="0"] .digit:nth-child(2) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="0"] .digit:nth-child(3) :nth-child(4):before, [data-minutes^="0"] .digit:nth-child(3) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="0"] .digit:nth-child(4) :nth-child(4):before, [data-minutes$="0"] .digit:nth-child(4) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="0"] .digit:nth-child(5) :nth-child(4):before, [data-seconds^="0"] .digit:nth-child(5) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="0"] .digit:nth-child(6) :nth-child(4):before, [data-seconds$="0"] .digit:nth-child(6) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="1"] .digit:nth-child(1) :nth-child(1):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="1"] .digit:nth-child(1) :nth-child(2):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="1"] .digit:nth-child(1) :nth-child(4):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="1"] .digit:nth-child(1) :nth-child(5):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="1"] .digit:nth-child(1) :nth-child(6):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="1"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="1"] .digit:nth-child(2) :nth-child(2):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="1"] .digit:nth-child(2) :nth-child(4):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="1"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="1"] .digit:nth-child(2) :nth-child(6):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="1"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="1"] .digit:nth-child(3) :nth-child(2):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="1"] .digit:nth-child(3) :nth-child(4):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="1"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="1"] .digit:nth-child(3) :nth-child(6):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="1"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="1"] .digit:nth-child(4) :nth-child(2):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="1"] .digit:nth-child(4) :nth-child(4):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="1"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="1"] .digit:nth-child(4) :nth-child(6):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="1"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="1"] .digit:nth-child(5) :nth-child(2):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="1"] .digit:nth-child(5) :nth-child(4):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="1"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="1"] .digit:nth-child(5) :nth-child(6):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="1"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="1"] .digit:nth-child(6) :nth-child(2):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="1"] .digit:nth-child(6) :nth-child(4):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="1"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="1"] .digit:nth-child(6) :nth-child(6):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="2"] .digit:nth-child(1) :nth-child(1):before, [data-hours^="2"] .digit:nth-child(1) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours^="2"] .digit:nth-child(1) :nth-child(7):before, [data-hours^="2"] .digit:nth-child(1) :nth-child(7):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="2"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="2"] .digit:nth-child(2) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="2"] .digit:nth-child(2) :nth-child(7):before, [data-hours$="2"] .digit:nth-child(2) :nth-child(7):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="2"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="2"] .digit:nth-child(3) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="2"] .digit:nth-child(3) :nth-child(7):before, [data-minutes^="2"] .digit:nth-child(3) :nth-child(7):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="2"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="2"] .digit:nth-child(4) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="2"] .digit:nth-child(4) :nth-child(7):before, [data-minutes$="2"] .digit:nth-child(4) :nth-child(7):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="2"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="2"] .digit:nth-child(5) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="2"] .digit:nth-child(5) :nth-child(7):before, [data-seconds^="2"] .digit:nth-child(5) :nth-child(7):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="2"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="2"] .digit:nth-child(6) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="2"] .digit:nth-child(6) :nth-child(7):before, [data-seconds$="2"] .digit:nth-child(6) :nth-child(7):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="3"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="3"] .digit:nth-child(2) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="3"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="3"] .digit:nth-child(2) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="3"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="3"] .digit:nth-child(3) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="3"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="3"] .digit:nth-child(3) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="3"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="3"] .digit:nth-child(4) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="3"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="3"] .digit:nth-child(4) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="3"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="3"] .digit:nth-child(5) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="3"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="3"] .digit:nth-child(5) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="3"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="3"] .digit:nth-child(6) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="3"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="3"] .digit:nth-child(6) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="4"] .digit:nth-child(2) :nth-child(2):before, [data-hours$="4"] .digit:nth-child(2) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="4"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="4"] .digit:nth-child(2) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="4"] .digit:nth-child(2) :nth-child(6):before, [data-hours$="4"] .digit:nth-child(2) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="4"] .digit:nth-child(3) :nth-child(2):before, [data-minutes^="4"] .digit:nth-child(3) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="4"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="4"] .digit:nth-child(3) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="4"] .digit:nth-child(3) :nth-child(6):before, [data-minutes^="4"] .digit:nth-child(3) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="4"] .digit:nth-child(4) :nth-child(2):before, [data-minutes$="4"] .digit:nth-child(4) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="4"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="4"] .digit:nth-child(4) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="4"] .digit:nth-child(4) :nth-child(6):before, [data-minutes$="4"] .digit:nth-child(4) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="4"] .digit:nth-child(5) :nth-child(2):before, [data-seconds^="4"] .digit:nth-child(5) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="4"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="4"] .digit:nth-child(5) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="4"] .digit:nth-child(5) :nth-child(6):before, [data-seconds^="4"] .digit:nth-child(5) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="4"] .digit:nth-child(6) :nth-child(2):before, [data-seconds$="4"] .digit:nth-child(6) :nth-child(2):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="4"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="4"] .digit:nth-child(6) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="4"] .digit:nth-child(6) :nth-child(6):before, [data-seconds$="4"] .digit:nth-child(6) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="5"] .digit:nth-child(2) :nth-child(3):before, [data-hours$="5"] .digit:nth-child(2) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="5"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="5"] .digit:nth-child(2) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="5"] .digit:nth-child(3) :nth-child(3):before, [data-minutes^="5"] .digit:nth-child(3) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="5"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="5"] .digit:nth-child(3) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="5"] .digit:nth-child(4) :nth-child(3):before, [data-minutes$="5"] .digit:nth-child(4) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="5"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="5"] .digit:nth-child(4) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="5"] .digit:nth-child(5) :nth-child(3):before, [data-seconds^="5"] .digit:nth-child(5) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="5"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="5"] .digit:nth-child(5) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="5"] .digit:nth-child(6) :nth-child(3):before, [data-seconds$="5"] .digit:nth-child(6) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="5"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="5"] .digit:nth-child(6) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="6"] .digit:nth-child(2) :nth-child(3):before, [data-hours$="6"] .digit:nth-child(2) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="6"] .digit:nth-child(3) :nth-child(3):before, [data-minutes^="6"] .digit:nth-child(3) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="6"] .digit:nth-child(4) :nth-child(3):before, [data-minutes$="6"] .digit:nth-child(4) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="6"] .digit:nth-child(5) :nth-child(3):before, [data-seconds^="6"] .digit:nth-child(5) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="6"] .digit:nth-child(6) :nth-child(3):before, [data-seconds$="6"] .digit:nth-child(6) :nth-child(3):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="7"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="7"] .digit:nth-child(2) :nth-child(4):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="7"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="7"] .digit:nth-child(2) :nth-child(6):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="7"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="7"] .digit:nth-child(3) :nth-child(4):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="7"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="7"] .digit:nth-child(3) :nth-child(6):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="7"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="7"] .digit:nth-child(4) :nth-child(4):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="7"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="7"] .digit:nth-child(4) :nth-child(6):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="7"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="7"] .digit:nth-child(5) :nth-child(4):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="7"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="7"] .digit:nth-child(5) :nth-child(6):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="7"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(1):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="7"] .digit:nth-child(6) :nth-child(4):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(4):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="7"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="7"] .digit:nth-child(6) :nth-child(6):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(6):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-hours$="9"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="9"] .digit:nth-child(2) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes^="9"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="9"] .digit:nth-child(3) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-minutes$="9"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="9"] .digit:nth-child(4) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds^="9"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="9"] .digit:nth-child(5) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}

[data-seconds$="9"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="9"] .digit:nth-child(6) :nth-child(5):after {
  opacity: 0.07;
  -webkit-transform: translateZ(-2vmax);
          transform: translateZ(-2vmax);
}
/*# sourceMappingURL=style.css.map */